################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TextFilteringApp/obj
/TextFilteringApp/bin
/TextFilteringApp.Tests/obj
/TextFilteringApp.Tests/bin
