################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TextFilteringApp/obj
/TextFilteringApp/bin/Debug/net8.0
